/* ********** CUSTOM RPOPERTIES  ********** */
:root {
  --bg-navbar-color: #dc3545;
  --bg-ribbon-color: #db1a1a;
  --attention-ribbon-color: #ae1717;
  --primary-font-ribbon-color: #febc08;
  --secondary-font-ribbon-color: #f8f9fa;
  --bg-divisor-ribbon-color: #ffc107;
  --bg-games-color: #63c4ff;
  --bg-card-games-color: #fff;
  --title-games-color: #212529;
  --title-games-footer-color: #0d6efd;
  --text-shadow-color: 0 3px 3px rgb(0 0 0 / 60%);
  --bg-text-ambios-color: #1c5d2d;
  --bg-text-button-color: #e0a800;
  --bg-play-nintendo-color: #ffffde;
  --bg-play-nintendo-card1-color: #0d6efd;
  --bg-play-nintendo-card2-color: #ffc107;
  --bg-play-nintendo-card3-color: #28a745;
  --bg-play-nintendo-card4-color: #dc3545;
  --bg-footer-color: #e39a2d;
  --font: 'Poppins', sans-serif;
  --min-width: 800px;
  --header-height: 4rem;
}

/* ********** RESET  ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

h5 {
  font-size: 0.8em;
  margin: 0;
}

h6 {
  font-size: 0.7em;
  margin: 0;
}

/* ********** COMPONENTS  ********** */

/* ********** UTILITIES  ********** */

/* ********** SITE STYLES  ********** */
